.head { margin: auto;padding: 10px;
     background-color: rgb(0, 0, 27);display: flex;justify-content: space-between;
           }   
             .logo img{ margin-left: 20px  ;width: 50px;height: 50px
        ;}
        .slogan h5{ padding: 0%;margin: 0px; color: rgb(232, 234, 241);}
        
        .search { 
            padding: 10px;margin: 10pxb;
            background-color: rgba(247, 248, 250, 0);
            border: 50 px ; border-top-color: rgb(209, 220, 255);
        }
        .jbg{
          border-radius: 20px;
          background-color: transparent;
          transition: 0.5s;
        }
        .liens a{
            padding: 10px;margin: 10px;
            color: rgb(234, 234, 238);
            text-decoration: none;
           
        }
                    
      .principale { 
              display: flex ;
              justify-content: space-between;
              margin-left: 50px;
              margin-right: 50px;
       }
       .logo2 img{ margin: 20px  ;width: 500px;height: 500px;border-radius: 10px ;               
       }
       .description { 
        margin: 50px ;
        padding: 20px 20px;
        justify-content: center;
       }
     .present { 
              color: rgb(1, 6, 48);
              
              display: flex;
              justify-content: center;
              border-color: rgb(82, 83, 85);
              background-color:rgb(rgb(241, 230, 230), rgb(67, 70, 67), rgb(18, 18, 65));
             
     }


    
    
   .present present_in{ justify-content: center;
                        justify-items: center;
    }
    .motivation { color: rgb(242, 242, 250);
        justify-content: center;
         margin: 50px; padding: 50px;
        background-color: rgb(11, 11, 56);}
        .objectifs {
          justify-content: space-between;
          display: flex;
          gap: 40px;
          margin: 20px 40px;
        
        }
.train { 
  justify-content: center;
  color: aliceblue;
    display: flex;
   
  }
     .convoi1 { color: aliceblue;
      background-image: url(aprendre\ ensemble\ \ 2025-11-29\ at\ 09.22.00.jpeg);
    padding: 100px;
    ;
    max-width: max-content;
     min-width: 100%
      }
      .convoi2 {
        color: aliceblue;
        padding: 100px;
        background-image: url(julien\ sensibilisation\ vbg.jpeg);
         min-width: 100%;
         background-position: bottom center

      }
      .convoi3 { 
        background-image: url( IMG_8512.jpg );
        padding: 100px;
        will-change: scroll-position;
         min-width: 100%

      }